p.verso{
    color: blue;
}

p.mote{
    color: red;
}

a:link {
    color: blue;
    text-decoration: none; 
}

img.botao{
    height: 60px;
    width: 190px;
}

img.poeta{
    border-radius: 2000px;
    width: 200px;
    height: 200px;
    border: gray 5px;
}